p
  | Run tests with: 
  code yeti &lt;test document&gt;
  br
  | If you use relative paths in your tests, make sure you've started 
  | the Yeti server in the directory your test's dependencies are in.
p#status Starting up.
script(src: "/inc/run.js")
script
  !=bootstrap
