!!! 5
title Yeti doesn't sleep. It waits.
meta(charset: "utf-8")
link(rel: "stylesheet", href: "/inc/yeti.css")
body
  #hd
    h1
      b Yeti
      | &nbsp;The YUI Easy Testing Interface
  #bd
    != body
  #ft
    &copy; 2010 Yahoo! Inc.
    &mdash;
    a(href: "http://github.com/reid/yeti") Source on GitHub
