/dep/
/doc/quick-start/index.mustache
/doc/contribute/index.mustache
/doc/yeti/project.json
/api/
node_modules
.hosts.json
fabfile.pyc
npm-*.log
test/vendor/yui*
build_tmp*/
build_docs/
build_rollup_tmp*/
.DS_Store
.*.swp
.svn
CVS/
*~
