/lib/hub/view/public/sockjs-*
/dep/
/doc/quick-start/index.mustache
/api/
/tools/
coverage.*
node_modules
npm-*.log
test/vendor/yui*
build_tmp*/
build_docs/
build_rollup_tmp*/
.DS_Store
.*.swp
.svn
CVS/
*~
