html, body, h1, #bd, #health, iframe {
    padding: 0;
    margin: 0;
}

body {
    font: 90% Helvetica, Arial, sans-serif;
    width: 100%;
}

#hd {
    padding: 10px;
    color: #ccc;
    background: #333;
    text-shadow: 1px 1px 1px #000;
}

h1 {
    font: 300% "Helvetica Neue", Helvetica, sans-serif;
    text-transform: lowercase;
    font-weight: 100;
}

h1 b {
    letter-spacing: -4px;
    font-weight: 900;
    color: #fff;
}

iframe {
    border: 10px solid #dfdfdf;
    border-width: 10px 0;
    width: 100%;
}

#bd p {
    padding: 10px;
}

#ft {
    padding: 10px;
}

#ft, #ft a {
    color: #ccc;
}

#health {
    background: #525252;
    padding: 10px;
    font-size: 42px;
    color: #fff;
    /* IE 6 loses the background when modules
     * inside are floated over two lines,
     * unless it has layout. */
    zoom: 1;
}

#health h4 {
    margin: 0 0 5px 0;
    padding: 0 0 3px 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #eee;
    border-bottom: 1px solid #909090;
}

#health span {
    display: block;
    margin: 0;
    padding: 0;
}

#health .module {
    float: left;
    margin: 0 25px 10px 0;
    font-weight: 50;
}

#pulse, #beat {
    color: #00d600;
}

#beat {
    visibility: hidden;
    margin: -4px;
    float: right;
    font-size: 17px;
    /* bad IE 6. you have no beat. */
    _display: none;
}

#timer {
    color: #148aff;
}

#mode {
    color: #ff3d3d;
}

#status {
    clear: both;
    color: #fff;
    font: 16px monospace;
}
