<div class="ft">
<p>
    <a href="http://yeti.cx">Yeti</a> is made by <a href="http://yuilibrary.com/">YUI</a> at Yahoo
    &bull; <a href="http://yuilibrary.com/security/">Security</a>
    &bull; <a href="http://yuilibrary.com/license/">License</a>
</p>
</div>
