<style>
    .ft {
        margin: 100px;
        font-size: 74%;
    }
    #doc .ft {
        border-top: 1px solid #ddd;
        margin: 0 20px;
    }
</style>
<div class="ft">
    <p>
    <a href="http://yeti.cx">Yeti</a> is a product of <a href="http://yuilibrary.com/">YUI Library</a>.
        &bull; <a href="http://yuilibrary.com/security/">Security</a>
        &bull; <a href="http://twitter.com/yuilibrary">@yuilibrary</a>
    </p>
    <p>
    Copyright &copy; 2012 Yahoo! Inc. <a href="http://yuilibrary.com/license/">BSD licensed</a>.
    </p>
</div>
