body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"],
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', 'DejaVu Sans', 'Bitstream Vera Sans', Verdana, sans-serif;
}
body {
    font-size: 17px;
}
.cmd {
    font-size: 250%;
    margin-bottom: 1%;
}
.ft, .center, .header, h1, h2 {
    text-align: center;
}
.content {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1300px;
}
h1 {
    font-size: 1000%;
    font-weight: 900;
    letter-spacing: -4px;
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: 100;
    font-size: 250%;
    margin-top: -1%;
    margin-bottom: 25px;
}
h1, h2 {
    text-rendering: optimizeLegibility;
}
h3 {
    margin-top: 3%;
}
p {
    margin: 0 0 15px;
}

a.pure-button {
    color: #fff;
}

a.pure-button:hover {
    text-decoration: none;
}

.unit {
    padding: 10px;
}

small {
    font-size: 90%;
}
ul a {
    font-weight: bold;
}

ul {
    margin: 1%;
    list-style: none;
    padding: 0;
}

.divider {
    padding: 1em 0 0;
    position: relative;
    text-align: center;
}

.divider h2 {
    background: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    top: -19px;
}

.divider h2,
.divider h2 a {
    color: #555;
}

.divider hr {
    background: #ddd;
    border: none;
    height: 1px;
}

.left {
    text-align: left;
}

.demo {
    font-size: 60%;
    background: #111;
    color: #eee;
    padding: 1em;
    border: 1px solid #000;
    overflow: scroll;
}

@media all and (max-width: 899px) {
    .demo {
        display: none;
    }
    .cmd {
        font-size: 100%;
    }
}
