<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{yuiGridsUrl}}">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css">
    <link rel="stylesheet" href="{{projectAssets}}/landing.css">
    <link rel="stylesheet" href="{{projectAssets}}/footer.css">
</head>
<body>
    <div class="yeti-widget">
        <div class="content">{{>layout_content}}</div>
        {{>footer}}
    </div>
</html>
