<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic">
    <link rel="stylesheet" href="{{yuiGridsUrl}}">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: 'PT Sans', 'DejaVu Sans', 'Bitstream Vera Sans', Verdana, sans-serif;
    }
    body {
        font-size: 14px;
    }
    .yeti-widget, .yeti-widget h1, .yeti-widget h2 {
        font-size: 120%;
        text-align: center;
    }
    .yeti-widget h1 {
        font-size: 1000%;
        font-weight: 900;
        letter-spacing: -4px;
        margin: 0;
    }
    .yeti-widget h2 {
        font-style: italic;
        font-size: 250%;
        margin-top: -1%;
        margin-bottom: 3%;
    }
    .yeti-widget h3 {
        margin-top: 3%;
    }
    .yeti-widget p {
        margin: 1%;
    }
    .yeti-widget a {
        color: #000;
        text-decoration: underline;
    }
    .yeti-widget ul {
        margin: 1%;
        list-style: none;
        padding: 0;
    }
    </style>
</head>
<body>
    <div class="yeti-widget">
        <div class="content">{{>layout_content}}</div>
        {{>footer}}
    </div>
</html>
