<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Maven+Pro:400,700">
    <link rel="stylesheet" href="{{yuiGridsUrl}}">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <style>
    .yeti-widget, .yeti-widget h1, .yeti-widget h2 {
        font: 120% "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
    }
    .yeti-widget h1 {
        font-size: 1000%;
        font-weight: 900;
        letter-spacing: -4px;
        margin: 0;
    }
    .yeti-widget h2 {
        font-size: 470%;
        font-weight: 100;
        margin-top: -2%;
        margin-bottom: 3%;
    }
    .yeti-widget h3 {
        margin-top: 3%;
    }
    .yeti-widget p {
        margin: 1%;
    }
    .yeti-widget a {
        color: #000;
        text-decoration: underline;
    }
    </style>
</head>
<body>
    <div class="yeti-widget">
        <div class="content">{{>layout_content}}</div>
        {{>footer}}
    </div>
</html>
