<h1>Yeti</h1>
<h2>The YUI Easy Testing Interface</h2>

<h3>One-Line Install</h3>
<p>Requires <a href="http://nodejs.org">Node.js</a> v0.6.</p>
<p style="font-size: 200%; margin-bottom: 1%"><code>npm install -g http://latest.yeti.cx</code></p>

<h3>Documentation for {{yetiVersion}}</h3>

<ul>
  {{#components}}
    {{#meta}}
        <li><a href="{{name}}/index.html">{{displayName}}</a></li>
    {{/meta}}
  {{/components}}
</ul>

<h3>Source Code</h3>

<p><a href="https://github.com/yui/yeti">Yeti on GitHub</a></p>

<p>
<a href="http://travis-ci.org/yui/yeti">
<img src="https://secure.travis-ci.org/yui/yeti.png?branch=master">
</a>
</p>
