<h1>Yeti</h1>
<h2>Test your JavaScript with any browser.</h2>


<p>
<a class="yui3-button hi" href="quick-start/index.html">
Get Started<br>
<small>
Start using Yeti by example.
</small>
</a>
</p>

<p>
<iframe src="http://ghbtns.com/github-btn.html?user=yui&repo=yeti&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
<a href="http://travis-ci.org/yui/yeti"><img src="https://secure.travis-ci.org/yui/yeti.png?branch=master" style="margin: 0 20px 4px 0;"></a>
<iframe src="http://ghbtns.com/github-btn.html?user=yui&repo=yeti&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
</p>

<div class="yui3-g">

<div class="yui3-u-2-3">
<div class="column-left left">

<div class="divider">
    <hr>
    <h2>Easy to Use</h2>
</div>

<p>
<strong>Yeti brings browser testing to the command line.</strong>
One command gives you automated testing.</p>

<pre class="demo"><code>$ npm install -g yeti
$ yeti test/*.html
Connected to http://localhost:9000
  Agent connected: Chrome (22.0.1221.0) / Mac OS
  Agent connected: Safari (6.0) / Mac OS
✔ Testing started on Chrome (22.0.1221.0) / Mac OS, Safari (6.0) / Mac OS
Testing... / 68% complete (15/22) 98.84 tests/sec 89% line coverage ✔ Agent completed: Chrome (22.0.1221.0) / Mac OS
Testing... | 95% complete (21/22) 91.65 tests/sec 90% line coverage ✔ Agent completed: Safari (6.0) / Mac OS
Testing... \ 100% complete (22/22) 91.60 tests/sec 90% line coverage
504 tests passed! (11529ms)
$</code></pre>

</div>
</div>

<div class="yui3-u-1-3">
<div class="column-right left">

<div class="divider">
    <hr>
    <h2>Made for YUI</h2>
</div>

<p>Yeti is made to run <a href="http://yuilibrary.com/yuitest/">YUI Test</a> based test files.</p>

<p>
Built at Yahoo! by <a href="http://twitter.com/reid">@reid</a>,
Yeti leverages <a href="http://nodejs.org">Node.js</a> and
<a href="http://yuilibrary.com/">YUI</a> to make testing easier than ever before.
</p>

<p>Yeti was made to test the YUI project on its
<a href="http://yuilibrary.com/yui/environments/">wide collection of Target Environments</a>.
Adding the latest new device to your testing
setup is as easy as visiting a web page.</p>
</div>
</div>

</div>

<div class="yui3-g">

<div class="yui3-u-1-3">
<div class="column-left">

<div class="divider">
    <hr>
    <h2>One-Line Install</h2>
</div>

<p class="cmd"><code>npm install -g yeti</code></p>
<p><small>
<a href="quick-start/index.html#Installation">Other installation options.</a>
</small></p>

</div>
</div>

<div class="yui3-u-1-3">
<div class="column-left">

<div class="divider">
    <hr>
    <h2>Get Involved</h2>
</div>

<ul>
    <li><a href="http://yeti.cx/blog/">Yeti Blog</a></li>
    <li><a href="http://github.com/yui/yeti">Yeti on GitHub</a></li>
    <li><a href="http://yuilibrary.com/projects/yeti/newticket">Submit an issue</a></li>
    <li><a href="quick-start/index.html#Develop-Yeti">Develop &amp; Contribute</a></li>
</ul>

</div>
</div>

<div class="yui3-u-1-3">
<div class="column-right">

<div class="divider">
    <hr>
    <h2>Documentation for {{yetiVersion}}</h2>
</div>

<ul>
  {{#components}}
    {{#meta}}
        <li><a href="{{name}}/index.html">{{displayName}}</a></li>
    {{/meta}}
  {{/components}}
</ul>

</div>
</div>
</div>
