<h1>Yeti</h1>
<h2>Test your JavaScript<br>with any browser.</h2>


<p>
<a class="yui3-button hi" href="quick-start/index.html">
Get Started<br>
<small>
Start using Yeti by example.
</small>
</a>
</p>

<p>
<iframe src="http://ghbtns.com/github-btn.html?user=yui&repo=yeti&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
<a href="http://travis-ci.org/yui/yeti"><img src="https://secure.travis-ci.org/yui/yeti.png?branch=master" style="margin: 0 20px 4px 0;"></a>
<iframe src="http://ghbtns.com/github-btn.html?user=yui&repo=yeti&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
</p>

<div class="yui3-g">

<div class="yui3-u-1-3">
<div class="column-left">

<div class="divider">
    <hr>
    <h2>One-Line Install</h2>
</div>

<p class="cmd"><code>npm install -g yeti</code></p>
<p><small>
Requires <a href="http://nodejs.org">Node.js</a> v0.6.
<a href="quick-start/index.html#Installation">Other installation options.</a>
</small></p>

</div>
</div>

<div class="yui3-u-1-3">
<div class="column-left">

<div class="divider">
    <hr>
    <h2>Get Involved</h2>
</div>

<p>
<ul>
    <li><a href="http://yeti.cx/blog/">Yeti Blog</a></li>
    <li><a href="http://github.com/yui/yeti">Yeti on GitHub</a></li>
    <li><a href="http://yuilibrary.com/projects/yeti/newticket">Submit an issue</a></li>
    <li><a href="quick-start/index.html#Develop-Yeti">Develop &amp; Contribute</a></li>
</ul>
</p>

</div>
</div>

<div class="yui3-u-1-3">
<div class="column-right">

<div class="divider">
    <hr>
    <h2>Documentation for {{yetiVersion}}</h2>
</div>

<ul>
  {{#components}}
    {{#meta}}
        <li><a href="{{name}}/index.html">{{displayName}}</a></li>
    {{/meta}}
  {{/components}}
</ul>

</div>
</div>
</div>
